<%- include('partials/header') %>

  <main>
    <h1>
      <%= title %>
    </h1>

    <h2>Welcome to the CSE 340 Service Network!</h2>
    <p>Here are a few of our partner organizations:</p>

    <% if (isAdmin) { %>
      <p><a href="/new-organization">Add a new organization</a></p>
      <% } %>

        <% organizations.forEach(organization=> { %>
          <div>
            <h3>
              <a href="/organization/<%= organization.organization_id %>">
                <%= organization.name %>
              </a>
            </h3>
            <p><strong>Email:</strong>
              <%= organization.contact_email %>
            </p>
            <p>
              <%= organization.description %>
            </p>
          </div>
          <% }) %>
  </main>

  <%- include('partials/footer') %>