<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Service Projects</h2>
        <p>Here are some service projects from the database:</p>

        <ul class="project-list">
            <% projects.forEach(project=> { %>
                <li class="project-item">
                    <strong>
                        <%= project.name %>
                    </strong>
                    <p>
                        <%= project.description %>
                    </p>
                </li>
                <% }) %>
        </ul>
    </main>

    <%- include('partials/footer') %>